<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inicio/css/inicio.css' %}">
    {% block css %}
    {% endblock %}
    <title>{% block title %}Inicio{% endblock %}</title>
</head>
    
<body>
    <nav class="nav">
        <div class="logo">
            <div class="logo-icon"></div>
            <h1 class="logo-text">Productora SA</h1>
        </div>
        <div class="btns">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <button type="button" onclick="window.location.href='/productos'">Productos</button>
                    <button type="button" onclick="window.location.href='/admin'">Admin/Django</button>
                    <button type="button" onclick="window.location.href='/productos/registro'">Admin/Web</button>
                    <button type="button" onclick="window.location.href='/info'">Info sesion</button>
                    <button type="button" onclick="window.location.href='/logout'">Cerrar sesión</button>
                {% else %}
                    {% if request.session.admin_products %}
                        <button type="button" onclick="window.location.href='/productos'">Productos</button>
                        <button type="button" onclick="window.location.href='/admin'">Admin/Django</button>
                        <button type="button" onclick="window.location.href='/productos/registro'">Admin/Web</button>
                        <button type="button" onclick="window.location.href='/info'">Info sesion</button>
                        <button type="button" onclick="window.location.href='/logout'">Cerrar sesión</button>
                    {% else %}
                        <button type="button" onclick="window.location.href='/productos'">Productos</button>
                        <button type="button" onclick="window.location.href='/info'">Info sesion</button>
                        <button type="button" onclick="window.location.href='/logout'">Cerrar sesión</button>
                    {% endif %}
                {% endif %}
            {% else %}
                <button type="button" onclick="window.location.href='/inicio'" >Inicio</button>
                <button type="button" onclick="window.location.href='/'" >Iniciar sesión</button>
            {% endif %}
            
        </div>
    </nav>
    
    <main>
        {% block content %}
        <div class="main-container">
            <h1>¡Bienvenido a Productora S.A.!</h1>
            <p>
                En esta página podrás revisar o editar los productos existentes en el sistema,
                además de poder agregar nuevos productos, inicia sesión para comenzar.
            </p>
        </div>
        {% endblock %}
    </main>
    <footer class="footertext">
        <p>Productora S.A. &copy; 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
