<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <nav class="nav">
        <h1>Bienvenido a Productora S.A.</h1>
        <img class="logotipo"></img>
        <div class="btns">
            <button type="button">Inicio</button>
            <button type="button">Registrar producto</button>
            <button type="button">Productos</button>
        </div>
    </nav>
    
</body>
</html>
